@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --bgc: #628395;
    --bgc-button: #212d40;
    --color-button: #c5c5ca;
    --hover-button: #4b6574;
    --bgc-visor: #cce3de;
    --color-visor: #6982a3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bgc);
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
button {
    border: none;
    text-align: center;
    line-height: 30px;
    width: 140px;
    height: 80px;
    color: var(--color-button);
    background-color: var(--bgc-button);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
button:hover{
    background-color: var(--hover-button);
}
.title{
    grid-area: t;
    text-align: center;
    font-size: 40px;
    padding: 5px;
    color:#cce3de;
    background-color: var(--hover-button);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.514);
}
.calculadora {
    width: 560px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.486);
    display: grid;
    grid-template-areas: "t t t t"
                         "v v v v"
                         ". . . ."
                         ". . . ."
                         ". . . ."
                         ". . . e"
                         "z z . e";
}
.visor {
    grid-area: v;
    height: 80px;
    line-height: 80px;
    display: flex;
    color: var(--color-visor);
    background-color: var(--bgc-visor);
}
.visor-num{
    flex: 2;
    text-align: center;
    height: 100%;
    background-color: transparent;
}
.visor-op{
    flex: 1;
    text-align: center;
    height: 100%;
    background-color: transparent;
}
#equal{
    grid-area: e;
    height: 100%;
}
#num0{
    grid-area: z;
    width: 100%;
}